/* General style */
div.left_sidebar {
    height: 100%;
    width: 255px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #051f49;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.gaugeContainer {
    background-color: #999999;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}

canvas.gauge {
    width: 240px;
    height: 180px;
    margin: 0 auto;
}



/*
canvas.gauge {
    width: 180px;
    height: 180px;
    margin-top: 0px;
    margin-right: 10px;
}
*/

div.title {
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
}

div.display {
    font-size: 20px;
    background-color: #BBBBBB;
    text-align: center;
    width: 70px;
    margin: 0 auto;
    position: relative;
    top: -25px;
}

div.units {
    position: relative;
    top: -40px;
    left: 160px;
    font-size: 12px;
}